# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# VSCode & JetBrains (PyCharm, etc.)
.vscode/
.idea/

# Unit test / coverage reports
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints

sheets_credentials/credentials.json

# Static/media files (optional, adjust as needed)
static/company
static/client
media/