{% extends 'admin/base.html' %}
{% load static %}
{% block style %}
<style>
    .reserpassword {
        width: 350px;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
        transition: box-shadow 0.3s ease-in-out;
    }

    .resetheading {
        text-align: center;
        margin-bottom: 30px;
    }

    .labalform {
        display: block;
    }

    input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 6px;
        box-sizing: border-box;
        outline: none;
        transition: border-color 0.3s ease-in-out;
    }

    input[type="password"]:focus {
        border-color: var(--custom-button);
    }

    .resetpassword {
        width: 100%;
        padding: 10px;
        background-color: var(--custom-button);
        border: none;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
    }
</style>
{% endblock %}
{% block content %}
<div class="reserpassword">
    <h2 class="resetheading main-page-heading">Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <label for="old_password" class="labalform">Old Password</label>
        <input type="password" name="old_password" class="form-control" required><br>
        <label for="new_password" class="labalform">New Password</label>
        <input type="password" name="new_password" class="form-control" required><br>
        <label for="confirm_password" class="labalform">Confirm  Password</label>
        <input type="password" name="confirm_password" class="form-control" required><br>
        <button type="submit" class="resetpassword">Password Reset</button>
    </form>
</div>
{% endblock %}